@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("./assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "JetBrainsMono-Regular", monospace;
}

body {
  margin: 0;
  padding: 0;
}

/* Add some basic styles to test if CSS is working */
.test-style {
  color: red;
  font-size: 24px;
}
